.a{
	width:100%;
	height:400px;
	position:absolute;
	left:0;
	top:0;
	background-image: url("astro/4.jpg");
	background-size: 100% 100%;
}
.b{
	background-image:url("astro/bg2.jpg");
	width:20%;
	height:1200px;
	float:left;
	position:absolute;
	left:0;
	top:400;
}
.c{
	background-image:url("astro/bg2.jpg");
	width:20%;
	height:1200px;
	float:right;
	position:absolute;
	right:0;
	top:400;
}
marquee{
	font-size: 40px;
	font-family: sans-serif;
	position:absolute;
	top:405;
	left:275;
	color:gold;
	width:790;
}
.m{
	width:100%;
	height:92px;
	position:absolute;
	background-color:orange;
	top:1710;
	left:0;
}